@model SchoolManagement.Models.Models.ViewModels.GradeViewModel

@{
    ViewData["Title"] = "Edit";
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Edit Grade of @Model.School.Name</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(a => a.Grade.CreationDate, Model.Grade.CreationDate)
                @Html.HiddenFor(a => a.Grade.Id, Model.Grade.Id)
                <input type="hidden" asp-for="Grade.School.Id" />
                <label asp-for="Grade.Id" class="control-label"></label>
                <input value="@Model.Grade.Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Grade.Name" class="control-label"></label>
                <input asp-for="Grade.Name" class="form-control" />
                <span asp-validation-for="Grade.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.Desc" class="control-label"></label>
                <input asp-for="Grade.Desc" class="form-control" />
                <span asp-validation-for="Grade.Desc" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Grade.School.Id" class="control-label">School</label>
                <select id="drpEmpList" class="form-control"
                        asp-for="Grade.School.Id"
                        asp-items="@(new SelectList(Model.Schools, "Id", "Name"))">
                    <option value="">--Select--</option>
                </select>
                <input type="hidden" asp-for="Grade.School.Id" />
            </div>*@
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-schoolId="@Model.School.Id">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  