@model IEnumerable<IdentityApplication.Data.Entities.Grade>
@{
    ViewData["Title"] = "Index";
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="text-center">
    <h1 class="display-4">Grades</h1>
    <p>You can manage grades from this screen.</p>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<a asp-action="Create">Create</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Desc</td>
            <td>School</td>
            <td>Creation Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.Id</td>
                <td>@grade.Name</td>
                <td>@grade.Desc</td>
                <td>@grade.School?.Name</td>
                <td>@grade.CreationDate.ToString("MM/dd/yyyy")</td>
            </tr>

        }
    </tbody>
</table> 