@model IdentityApplication.Models.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit User @Model.User.Name</h1>
<hr />

<form enctype="multipart/form-data" asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="User" />

            <div class="form-group">
                @Html.HiddenFor(a => a.User.Id, Model.User.Id)
                <label asp-for="User.Id" class="control-label"></label>
                <input value="@Model.User.Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Governorate.Id" class="control-label">Governorate</label>
                <select id="drpEmpList" class="form-control"
                        asp-for="User.Governorate.Id"
                        asp-items="@(new SelectList(Model.Governorates, "Id", "Name"))">
                    <option value="">--Select--</option>
                </select>
                <input type="hidden" asp-for="User.Governorate.Id" />
            </div>
            <div class="form-group">
                <img src="@("~/Upload/Images/" + @Model.User.Image)" asp-append-version="true"
                     height="240" width="240" />
            </div>
            <div class="form-group">
                <label asp-for="User.ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="User.ImageFile" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h3>User Roles</h3>
            <br />
            
            @await Html.PartialAsync("_UserRoles", Model)

            @*<form asp-action="AssignRolesToUser" asp-controller="Users">

                </form>*@
            <br />
        </div>
    </div>
</form>
<div>
    <a asp-action="List">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function showHideRoles(id) {
            debugger;
            if (document.getElementById(id).classList.contains('fa-angle-down')) {
                document.getElementById(id).classList.remove("fa-angle-down");
                document.getElementById(id).classList.add("fa-angle-up");
            }
            else {
                document.getElementById(id).classList.remove("fa-angle-up");
                document.getElementById(id).classList.add("fa-angle-down");
            }
        }
    </script>
}



@*@if (school.Activities.Any())
    {
        <li class="list-group-item">
            <div class="custom-control custom-checkbox btn-group">
                <div class="row">
                    <div class="col-auto" style="margin-right: 5px;">
                        <a data-bs-toggle="collapse" data-bs-target="#schoolActivities@_id"
                           onclick="showHideRoles('showSchoolActivities@_id')">
                            <i id="showSchoolActivities@_id" class="fa fa-angle-down"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        @Html.CheckBoxFor(x => school.IsActivitiesSelected, new { @class = "custom-control-input", @id = "school-activities-" + _id })
                        <label class="custom-control-label" for="school-activities-@_id">Activities</label>
                    </div>
                </div>
            </div>

            <ul id="schoolActivities@_id" class="list-group list-group-flush collapse">
                <li class="list-group-item">
                    <ul class="list-group list-group-flush">
                        @foreach (ActivityModel activity in school.Activities)
                        {
                            activityCount++;
                            string _activityId = "activity" + activityCount + _id;
                            string _expandActivityId = "expandActivity" + activityCount + _expandId;

                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox btn-group">
                                    <div class="row">
                                        <div class="col-auto" style="margin-right: 5px;">
                                            @if (activity.Roles.Any())
                                            {
                                                <a data-bs-toggle="collapse" data-bs-target="#@_activityId"
                                                   onclick="showHideRoles('@_expandActivityId')">
                                                    <i id="@_expandActivityId" class="fa fa-angle-down"></i>
                                                </a>
                                            }
                                        </div>
                                        <div class="col-auto">
                                            @Html.CheckBoxFor(x => activity.IsSelected, new { @class = "custom-control-input", @id = activity.Id })
                                            <label class="custom-control-label" for="@activity.Id">@activity.Name</label>
                                        </div>
                                    </div>
                                </div>

                                <ul id="@_activityId" class="list-group list-group-flush collapse">
                                    @foreach (RolesModel activityRole in activity.Roles)
                                    {
                                        <li class="list-group-item">
                                            <div class="custom-control custom-checkbox btn-group">
                                                @Html.CheckBoxFor(x => activityRole.IsSelected, new { @class = "custom-control-input", @id = activityRole.Id })
                                                <label class="custom-control-label" for="@activityRole.Id">@activityRole.Name</label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </li>
    }*@
