@model IdentityApplication.Models.ViewModels.SchoolViewModel

@{
    ViewData["Title"] = "Edit";
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Edit School</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(a => a.School.CreationDate, Model.School.CreationDate)
                @Html.HiddenFor(a => a.School.Id, Model.School.Id)
                @Html.HiddenFor(a => a.School.Address.Id, Model.School.Address.Id)
                @Html.HiddenFor(a => a.School.Address.CreationDate, Model.School.Address.CreationDate)
                <label asp-for="School.Id" class="control-label"></label>
                <input value="@Model.School.Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="School.Name" class="control-label"></label>
                <input asp-for="School.Name" class="form-control" />
                <span asp-validation-for="School.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School.Management.Id" class="control-label">Management</label>
                <select id="drpEmpList" class="form-control"
                        asp-for="School.Management.Id"
                        asp-items="@(new SelectList(Model.Managements, "Id", "Name"))">
                    <option value="">--Select--</option>
                </select>
                <input type="hidden" asp-for="School.Management.Id" />
            </div>
            <div class="form-group">
                <label asp-for="School.Address.Desc" class="control-label"></label>
                <input asp-for="School.Address.Desc" class="form-control" />
                <span asp-validation-for="School.Address.Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  